* {box-sizing: border-box;}
body { background-color: #00005D;
      font-family: Verdana, Arial, sans-serif; 
	background-color: white;
}
#wrapper { margin: 0 auto;
          width: 960px;
          background-color:#c6c6ec;
          color: #000066; 
}	  
header { height: 170px;
	margin-bottom: 0;
	background-image: url(umbc2.jpg);
	background-repeat: no-repeat;
	background-size: 990px 200px;
	
}
	
h1 { text-indent: 3%;
	white-space: nowrap;
	overflow: hidden;
	text-align: center; }

nav { float: left;
     width: 200px;
     font-weight: bold;
     letter-spacing: 0.1em; 
}

main { display: block;
       background-color: ;
       color: black;
       padding: 10px 20px;
	   overflow: auto;
}
shoe { padding-left: 50px;
      padding-right: 2em;
	  padding-bottom: 2em;
	 
}
footer { font-size: 70%;
         text-align: center;
         padding: 10px;
         background-color: #737373;
         clear: both;
}
h2 { color:  #333333;
    font-family: Arial, sans-serif;
	Font-style: bold;
	Font-style: italics;
}
#floatright { float: right;
              margin: 10px; 
} 
nav ul { list-style-type: none; 
       margin: 0; 
	   padding: 0; 
}
nav a { text-decoration: none;
       padding: 20px;
       display: block;
       background-color:    #7b7bd1;
       border-bottom: 1px solid #333333; 
}
nav a:link       { color: #d9d9d9; }
nav a:visited { color: #EAEAEA; }
nav a:hover     { color: #869DC7;
               background-color: #EAEAEA; }